@use '~styles/mixins' as *;

.component {
	position: relative;
	padding: 16px;
	max-height: 350px;
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
	border: var(--border);
	border-radius: var(--radius);
	font: var(--fw-medium) var(--fz-btn) var(--ff-first);
}

.trainer_wrapper {
	border-bottom: var(--border);

	.trainer {
		font-weight: var(--fw-regular);
		padding-bottom: 5px;
	}
}

.place_wrapper {
	position: relative;
	padding-top: 16px;
	display: flex;
	align-items: center;
	gap: 20px;
	border-bottom: var(--border);

	.place {
		padding-bottom: 5px;
	}
}

.wrapper {
	width: 100%;
}

.comment_wrapper {
	.subtitle {
		padding-top: 16px;
		padding-bottom: 5px;
		border-bottom: var(--border);
	}
}

.text_wrapper {
	width: 100%;
	padding-top: 8px;
	padding-right: 5px;
	max-height: 80px;
	overflow: scroll;
	@include custom-scrollbar(5px, var(--accent-color), 5px);
}

.text {
	font: var(--fw-regular) var(--fz-text) var(--ff-first);
}

.icon_wrapper {
	margin-top: auto;
	padding-top: 16px;
	display: flex;
	gap: 20px;
	justify-content: end;
}

.icon {
	cursor: pointer;
}

.confirm {
	position: absolute;
	inset: 0;
	padding: 20px;
	display: grid;
	place-content: center;
	background-color: #dae8f0;
	border-radius: 20px;
	z-index: 9;
}

.question {
	padding-bottom: 30px;
	text-align: center;
}

.btn_wrapper {
	justify-self: center;
}

.btn {
	margin-bottom: 30px;
}

.time {
	width: 50px;
	div {
		font: var(--fw-medium) var(--fz-btn) var(--ff-first);
		padding: 0;
		border: none;
		border-bottom: var(--border);
	}
	& div {
		justify-content: start;
	}
}

.textarea {
	width: 100%;
	font: var(--fw-medium) 18px var(--ff-first);
	resize: none;
	@include custom-scrollbar(5px, var(--accent-color), 5px);
}
