.container {
	padding: var(--margin-sm);
	background-color: #e1f1f8;
	border: var(--border);
	border-radius: var(--radius-btn);
}
.wrapper {
	font: var(--fw-medium) 16px/1.4 var(--ff-first);

	.data {
		padding-left: var(--padding-xs);
		font-weight: var(--fw-regular);
	}
}
