@use 'app/styles/mixins' as *;

.dropdown {
	width: 100%;
	height: fit-content;
	background-color: var(--bg-card-second);
	border: var(--border);
	border-radius: var(--radius);
	overflow: hidden;
}

.small_arrow {
	transform: rotate(-90deg);
	margin-left: auto;
}

.arrow_open {
	transform: rotate(90deg);
}

.dropdown_button {
	width: 100%;
	padding: var(--padding-sm);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;

	span {
		font: var(--fw-medium) var(--fz-text) var(--ff-first);
	}
}

.dropdown_list {
	height: 0;
	overflow-y: scroll;
	transition: height 0.3s ease;
	@include custom-scrollbar(5px, var(--accent-color), 5px);
}

.active {
	height: 150px;
}

.list_item {
	padding: 10px 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	span {
		font: var(--fw-regular) var(--fz-text) var(--ff-second);
	}
}
.checkbox {
	width: 28px;
	height: 28px;
	border: 1.5px solid #252525;
	cursor: pointer;
}

.dropdown_edit {
	padding: 0;
	background-color: transparent;
	border: none;
}

.btn_edit {
	padding: 0;

	span {
		font: var(--fw-regular) var(--fz-btn) var(--ff-first);
		
		@include xl() {
			font-size: 20px;
		}
	}
}

.edit_list {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: var(--border);
	border-top: none;
	border-bottom: none;
	border-radius: 10px;
}
