@use 'app/styles/mixins' as *;

.header {
	padding: var(--margin-lg) var(--padding-lg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: calc(var(--gap-md) * 2);
	background-color: var(--btn-bg-color);
	border-bottom: var(--border);

	@include md() {
		padding: 10px;
		gap: 20px;
	}
}

.btn_wrapper {
	display: flex;
	gap: calc(var(--gap-md) * 2);

	@include md() {
		gap: 16px;
	}
}

.tab {
	font: var(--fw-medium) var(--fz-btn) var(--ff-first);
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;

	&:hover {
		color: var(--accent-color);
		text-decoration: underline;
	}

	@include md() {
		font-size: 16px;
	}
}

.tab_active {
	color: var(--accent-color);
	text-decoration: underline;
}

.close_btn {
	cursor: pointer;
}
